    {% extends 'people/base.html' %}

    {% block content %}
    <ul class="contentt">
             {% for p in posts %}
             <li  class="one-full-content">
<!--                 <div class="category_text_post">-->
<!--                     Category: {{p.cat}}-->
<!--                 </div>-->
                 <div class="one-content-block">
                     {% if p.photo %}
                     <div>
                         <img class="img" src="{{p.photo.url}}" alt="">
                     </div>
                     {% endif %}
                     <div class="one-part-content-block">
                        <h2 class="title-of-content">{{p.title}}</h2>
                        {{p.content|truncatewords:50}}
                     </div>
                 </div>
                 <div class="link-read-post">
                     <a href="{{ p.get_absolute_url }}"><button class="button">Read</button></a>
                 </div>
             </li>
        <hr>
             {% endfor %}

    </ul>

    {% endblock %}