{% extends 'people/base.html' %}
 
{% block content %}
<ul>
         {% for p in posts %}
         <li>
             <p class="first">Category: {{p.cat}}</p>
             {% if p.photo %}
             <p>
                 <img class="img-article-left" src="{{p.photo.url}}" alt="">
             </p>
             {% endif %}
                   <h2>{{p.title}}</h2>
                   {{p.content}}</p>
                   <hr>
             <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
         </li>
         {% endfor %}
</ul>
{% endblock %}