.header{
	padding-top: 15px;
	margin-bottom: 50px;
}

.mainmenu{
	display: flex;
	flex-direction: row;
	padding-left: 250px;
	padding-right: 250px;
	justify-content: space-between;
}

ul {
    list-style-type: none;
}
a{
	text-decoration: none;
	font-weight: bold;
	font-size: 22px;
	color: #1b1b1b;
}



