html, body {
	margin: 0;
	padding-left: 120px;
	padding-right: 120px;
	height: 100%;
}

.header{
	padding-top: 15px;
	margin-bottom: 50px;
}

.mainmenu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

ul {
    list-style-type: none;
}
a{
	text-decoration: none;
	font-weight: bold;
	color: #1b1b1b;
	font-size: 20px;
}

.logo {
	background: url('../images/logoone.png') no-repeat ;
	width: 70px;
	height: 100px;
	padding-right: 250px;
}



