html, body {
	margin: 0;
	padding-left: 130px;
	padding-right: 130px;
}

.header{
	padding-top: 15px;
	height: 60px;
}

.header-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul {
    list-style-type: none;
}

a
{
	text-decoration: none;
	font-weight: bold;
	color: #1b1b1b;
	font-size: 20px;
}

.logo {
	background: url('../images/logo.jpg') no-repeat ;
	width: 70px;
	height: 100px;
	padding-right: 250px;
}

.one-content-block{
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
}

.one-part-content-block{
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	width: 700px;
}

.img{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.title-of-content{
	margin: 0;
	padding-bottom: 10px;
}

.button{
	background-color: #1b1b1b;
	color: white;
	width: 120px;
	height: 45px;
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	cursor: pointer;
}

.button:hover{
	background-color: white;
	color: #1b1b1b;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.one-full-content{
	width: 900px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 80px;
	height: 300px;
}
.link-read-post{
	padding-left: 780px;
	padding-bottom: 20px;
}
.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}

.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

















